body {
  background-color: #eff5f8;
}

#head {
  display: flex;
  background-color: #1b5448;
  justify-content: center;
  padding: 50px 0;
}

h1 {
  font-size: 50px;
  color: #eff5f8;
}

h2 {
  justify-content: center;
  color: #eff5f8;
  font-size: 35px;
  /* padding-left: 100px; */
}
h3 {
  color: #eff5f8;
  font-size: 25px;
}
h4 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: #eff5f8;
}

.container {
  display: block;
  margin: 80px auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: #541b27;
}

.wrapper {
  padding-top: 20px;
}
#startclock {
  align-items: center;
}

#quiz {
  display: flex;
  flex-direction: column;
  padding: 50px 25px 50px 25px;
}

button {
  display: flex
  flex-direction: column;
  padding: 10px;
  margin: 24px;
  cursor: pointer;
  font-size: 24px;
  background-color: #1b5448;
  color: white;
}

a {
  color: #eff5f8;
  justify-content: center;
}

li {
  color: #eff5f8;
  font-size: 30px;
}

#game {
  font-size: 25px;
}
